# Nuxt
.nuxt
.output
.vercel_build_output
.build-*
.env
.netlify


.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

node_modules
test/fixture/.nuxt
dist
